.players-card {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 5%;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.player-card a {
    margin-bottom: 30%;
    color: #d97ab5;
    border: 1px solid #d97ab5;
}

.player-card h3 {
    color: #d4b52f;
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 15px;
}