html {
    font-family: 'Roboto', sans-serif;
    background-color: #0b132b;
}

header {
    color: white;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    font-size: bolder;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.title {
    background-image: url(../../images/home_background_league.png);
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 150px;
}

.title h2 {
    font-size: 3.5rem;
    margin-bottom: 150px;
}

.title p {
    font-size: 2rem;
}
