/* for all pages*/
html {
    font-family: 'Roboto', sans-serif;
    background-color: #0b132b;
    color: white;
}
 
body{
    margin: 0px;
}

.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_column h3 {
    color: #d4b52f;
    text-decoration: underline;
    text-underline-offset: 8px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

h1 {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.link_button{
  border: solid 1px;
  border-radius: 10px;
}

.border {
  border: solid 1px #1c2541;
}

/*home page*/

.title {
    background-image: url(../../images/home_background_league.png);
    background-size: cover;
    justify-content: space-around;
}

.title h2 {
    font-size: 4vw;
}

.title p{
    font-size: 2vw;
}

.dailyTeam{
  width: 90%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 20px;

  font-family: Ubuntu;
  font-weight: bolder;
}

.dailyTeamLogo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  flex-shrink: 0;
}

.joueurs {
  align-items: baseline;
  width: 60%;
}

.joueurs h4 {
  color: #d4b52f;
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

.joueurs > p {
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
}

.players-grid {
  display: flex;
  gap: 20%;
  flex-wrap: wrap;
}

.player-card img {
  width: 150px;
  margin-bottom: 0.8rem;
}

.player-card p {
  font-size: 0.95rem;
  color: #d97ab5;
  margin: 0px;
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.LES_MATCHS {
    text-align: center;
    color: #45a0ec;
}

.LES_MATCHS h2 {
    font-size: 1.8vw;
}

.matchs {
    border: 2px solid rgba(128, 128, 128, 0.5);
}

.matchs h3 {
    font-size: 1.4vw;
}