/* for all pages*/
html {
    font-family: 'Roboto', sans-serif;
    background-color: #0b132b;
    color: white;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_column h3 {
    color: #d4b52f;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.border{
    border: solid 1px #1c2541;
}

h1 {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/*home page*/

.title {
    background-image: url(../../images/home_background_league.png);
    background-size: cover;
    justify-content: space-around;
}

.title h2 {
    font-size: 4vw;
}

.title p{
    font-size: 2vw;
}

.dailyTeamLogo{
    width: 250px;
}

.border {
  border: 2px solid #1c2541;
  padding: 1.5rem;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.dailyTeamLogo {
  width: 180px;
  height: auto;
  margin-bottom: 1rem;
}

.joueurs {
  margin-top: 1rem;
}


.joueurs div {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.8rem;
  background-color: #0b132b;
  border-radius: 10px;
  width: 120px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.joueurs div:hover {
  transform: scale(1.05);
  background-color: #3a506b;
}

.joueurs img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.joueurs div p {
  font-size: 0.9rem;
  color: #d97ab5;
  margin: 0;
}

.LES_MATCHS {
    text-align: center;
    color: #45a0ec;
}

.LES_MATCHS h2 {
    font-size: 1.8vw;
}

.matchs {
    border: 2px solid rgba(128, 128, 128, 0.5);

}

.matchs h3 {
    font-size: 1.4vw;
}
