html {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    background-image: url();
}