/* for all pages*/
html {
    font-family: 'Roboto', sans-serif;
    background-color: #0b132b;
    color: white;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
}

.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border{
    border: solid 1px #1c2541;
}

h1 {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/*home page*/

.title {
    background-image: url(../../images/home_background_league.png);
    background-size: cover;
    /*height: 300px;*/
    justify-content: space-around;
}

.title h2 {
    font-size: 4vw;
}

.title p{
    font-size: 2vw;
}

#dailyTeamLogo{
    width: 250px;
}

.LES_MATCHS {
    text-align: center;
    color: #45a0ec;
}

.LES_MATCHS h2 {
    font-size: 1.8vw;
}

.matchs {
    border: 2px solid rgba(128, 128, 128, 0.5);

}

.matchs h3 {
    font-size: 1.4vw;
}